<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_monitoring', plugin: 'redmine_monitoring' %>
  <%= javascript_include_tag 'redmine_monitoring', plugin: 'redmine_monitoring' %>
<% end %>

<h2><%= l(:label_monitoring) %></h2>

<div class="mm-tabs" role="tablist">
  <%= link_to l(:label_tab_dashboard), monitoring_tab_path('dashboard'), class: "mm-tab #{'is-active' if current_tab == 'dashboard'}" %>
  <%= link_to l(:label_tab_metrics), monitoring_tab_path('metrics'), class: "mm-tab #{'is-active' if current_tab == 'metrics'}" %>
  <%= link_to l(:label_tab_errors), monitoring_tab_path('errors'), class: "mm-tab #{'is-active' if current_tab == 'errors'}" %>
  <%= link_to l(:label_tab_groups), monitoring_tab_path('groups'), class: "mm-tab #{'is-active' if current_tab == 'groups'}" %>

  <% if lookup_context.exists?("monitoring_errors/#{current_tab}/actions", [], true) %>
    <%= render partial: "monitoring_errors/#{current_tab}/actions" %>
  <% end %>
</div>

<%= render partial: "monitoring_errors/#{current_tab}/tab_content" %>
