<%= hidden_field_tag :tab, current_tab %>

<div class="mm-row">
  <div class="mm-field">
    <%= f.select :error_class, options_for_select(@lister.filters[:error_classes], params[:error_class]), { include_blank: l(:label_select_error_class) }, { class: "monitoring-select2" } %>
  </div>

  <div class="mm-field">
    <%= f.select :exception_class, options_for_select(@lister.filters[:exception_classes], params[:exception_class]), { include_blank: l(:label_select_exception_class) }, { class: "monitoring-select2" } %>
  </div>

  <div class="mm-field">
    <%= f.select :severity, options_for_select(@lister.filters[:severities], params[:severity]), { include_blank: l(:label_select_severity) }, { class: "monitoring-select2" } %>
  </div>

  <div class="mm-field">
    <%= f.select :status_code, options_for_select(@lister.filters[:status_codes], params[:status_code]), { include_blank: l(:label_select_status_code) }, { class: "monitoring-select2" } %>
  </div>

  <div class="mm-field">
    <%= f.select :user_id, options_from_collection_for_select(@lister.filters[:users], :id, :login, params[:user_id]), { include_blank: l(:label_select_user) }, { class: "monitoring-select2" } %>
  </div>
</div>

<div class="mm-row">
  <div class="mm-field">
    <%= f.select :controller_name, options_for_select(@lister.filters[:controller_names], params[:controller_name]), { include_blank: l(:label_select_controller_name) }, { class: "monitoring-select2" } %>
  </div>

  <div class="mm-field">
    <%= f.select :action_name, options_for_select(@lister.filters[:action_names], params[:action_name]), { include_blank: l(:label_select_action_name) }, { class: "monitoring-select2" } %>
  </div>

  <div class="mm-field">
    <%= f.select :error_format, options_for_select(@lister.filters[:formats], params[:error_format]), { include_blank: l(:label_select_format) }, { class: "monitoring-select2" } %>
  </div>

  <div class="mm-field">
    <%= f.select :env, options_for_select(@lister.filters[:envs], params[:env]), { include_blank: l(:label_select_env) }, { class: "monitoring-select2" } %>
  </div>

  <div class="mm-field">
    <%= f.date_field :created_at_from, value: params[:created_at_from] %>
    <%= f.label :created_at_from, "-" %>
    <%= f.date_field :created_at_to, value: params[:created_at_to] %>
  </div>
</div>

<div class="mm-row">
  <div class="mm-field">
    <%= f.text_area :message, value: params[:message], rows: 5, class: 'monitoring-textarea', placeholder: l(:label_select_message) %>
  </div>
</div>

<div class="mm-row">
  <div class="mm-field"></div>

  <div>
    <%= f.submit l(:button_apply), class: 'mm-btn mm-btn--primary' %>
    <%= link_to l(:label_clear), monitoring_errors_path(tab: current_tab), class: 'mm-btn mm-btn--secondary' %>
  </div>
</div>
