<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_monitoring_settings', plugin: 'redmine_monitoring' %>
<% end %>

<div class="settings-redmine-monitoring">
  <fieldset>
    <legend><%= l("settings.label_title") %></legend>

    <p>
      <%= label_tag 'settings_enabled', l("settings.fields.label_enabled") %>
      <%= check_box_tag 'settings[enabled]', true, @settings[:enabled] %>
    </p>
    <p>
      <%= label_tag 'settings_dev_mode', l("settings.fields.label_dev_mode") %>
      <%= check_box_tag 'settings[dev_mode]', false, @settings[:dev_mode] %>
    </p>
    <p>
      <%= label_tag 'settings_max_errors', l("settings.fields.label_max_errors") %>
      <%= number_field_tag 'settings[max_errors]', @settings[:max_errors] || 10_000, min: 100, max: 1_000_000, step: 100 %>
      <em class="info"><%= l("settings.fields.label_max_errors_hint") %></em>
    </p>
  </fieldset>
</div>
