<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'redmine_monitoring_settings', plugin: 'redmine_monitoring' %>
  <%= javascript_include_tag 'redmine_monitoring_settings', plugin: 'redmine_monitoring' %>
<% end %>

<div class="settings-redmine-monitoring">
  <fieldset>
    <legend><%= l("settings.label_title") %></legend>

    <p>
      <%= label_tag 'settings_enabled', l("settings.fields.label_enabled") %>
      <%= check_box_tag 'settings[enabled]', true, @settings[:enabled] %>
    </p>
    <p>
      <%= label_tag 'settings_dev_mode', l("settings.fields.label_dev_mode") %>
      <%= check_box_tag 'settings[dev_mode]', true, @settings[:dev_mode] %>
    </p>
    <p>
      <%= label_tag 'settings_max_errors', l("settings.fields.label_max_errors") %>
      <%= number_field_tag 'settings[max_errors]', @settings[:max_errors] || 10_000, min: 100, max: 1_000_000, step: 100 %>
      <em class="info"><%= l("settings.fields.label_max_errors_hint") %></em>
    </p>
    <p>
      <%= label_tag 'settings_max_errors', l("settings.fields.label_retention_days") %>
      <%= number_field_tag 'settings[retention_days]', @settings[:retention_days] || 90, min: 1, step: 1 %>
      <em class="info"><%= l("settings.fields.label_retention_days_hint") %></em>
    </p>
    <p>
      <%= label_tag 'settings_log_levels', l("settings.fields.label_log_levels") %>
      <% options = RedmineMonitoring::Constants::SEVERITIES.map { |severity| [severity.titleize, severity] } %>
      <%= select_tag 'settings[log_levels][]',
                     options_for_select(options, @settings[:log_levels]),
                     multiple: true, size: 3, class: 'monitoring-select2', data: { placeholder: l(:label_select_log_levels) } %>
      <em class="info"><%= l("settings.fields.label_log_levels_hint") %></em>
    </p>
    <p>
      <%= label_tag 'settings_enabled_formats', l("settings.fields.label_enabled_formats") %>
      <% formats = RedmineMonitoring::Constants::ENABLED_FORMATS %>
      <%= select_tag 'settings[enabled_formats][]',
                     options_for_select(formats, @settings[:enabled_formats]),
                     multiple: true, size: 6, class: 'monitoring-select2', data: { placeholder: l(:label_select_enabled_formats) } %>
      <em class="info"><%= l("settings.fields.label_enabled_formats_hint") %></em>
    </p>
    <p>
      <%= label_tag 'settings_enabled_formats', l("settings.fields.label_enable_metrics") %>
      <%= check_box_tag 'settings[enable_metrics]', true, @settings[:enable_metrics] %>
    </p>
    <p>
      <%= label_tag 'settings_slow_request_threshold_ms', l("settings.fields.label_slow_request_threshold_ms") %>
      <%= number_field_tag 'settings[slow_request_threshold_ms]', @settings[:slow_request_threshold_ms], min: 0, step: 50 %>
      <em class="info"><%= l("settings.fields.label_slow_request_threshold_ms_hint") %></em>
    </p>
  </fieldset>
</div>
